/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

a{
    text-decoration: none;
}


:root{
    --primary-col: #000;
    --secondary-col: #333333;
    --white-col: #ffffff;
}

p{
    margin-bottom: 0;
}






/* navbar */

.interior-navbar{
    padding: 20px 0;
    background: none;
    z-index: 10;
}

.interior-navbar .nav-item .nav-link{
    font-size: 18px;
    line-height: 28px;
    padding: 22px;
    color: var(--white-col);
    font-weight: 300;
}

.interior-navbar .nav-item .nav-link.active{
    font-weight: 400;
}

.interior-navbar .nav-item .nav-link:hover{
    font-weight: 400;
}


/* .dropdown-toggle::after{
    display: inline-block;
    background-image: url("../images/sm-icons/cheverlon.png") !important;
    width: 15px;
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
} */


.main-head{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: var(--white-col);
}

.main-para{
    font-size: 16px;
    line-height: 28px;
    color: var(--white-col);
}
.main-para-black{
    font-size: 16px;
    line-height: 28px;
    color: var(--primary-col); 
}

.black-col{
    color: var(--primary-col) !important;
}

.navbar-toggler:focus{
    box-shadow: none;
}




@media only screen and (max-width:767px){
    .main-head{
        font-size: 32px;
        line-height: 40px;
    }
}





/* hero-section */
.main{
    background-image: url("../images/herobg-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    overflow-x: hidden;
    height: 100vh;
}


.hero-section{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}


.sm-hero-head{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--white-col);
    margin-bottom: 10px;
}

.sm-hero-head span{
    color: #5D5A5A;
}


.hero-head-section h3{
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: var(--white-col);
    margin-bottom: 10px;
    text-transform: capitalize;
}

.hero-head-section h3 span{
    color: #5D5A5A;
}

.hero-head-section .desc{
    font-size: 16px;
    line-height: 24px;
    color: var(--white-col);
    margin-bottom: 30px;
    width: 85%;
}

.hero-head-section .hero-btn{
    /* background: var(--secondary-col);
    color: var(--white-col); */
    padding: 13px 30px;

}



.hero-slider {
    position: relative;
}

.bg-slider-box{
    position: relative;
    padding: 20px;
    padding-bottom: 0;
    padding-right: 0;
}

.bg-slider{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-col);
    z-index: -1;
    width: 60%;
    height: 60%;
    top: 0;
    left: 0;
    z-index: -1;
}

.slick-prev, .slick-next{
    bottom: -28px;
    top: auto;
    z-index: 11;
}

.hero-right-slider .slick-prev{
    background-image: url("../images/sm-icons/prev-arrow-hero-slider.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: auto;
    right: 80px;
}
.slick-next{
    background-image: url("../images/sm-icons/next-arrow-hero-slider.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    right: 40px;
}
.slick-next::before {
    opacity: -1;
}
.slick-prev::before {
    opacity: -1;
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before{
    opacity: -1;
}
.slick-prev:hover, .slick-prev:focus{
    background-image: url("../images/sm-icons/prev-arrow-hero-slider.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
.slick-next:hover, .slick-next:focus{
    background-image: url("../images/sm-icons/next-arrow-hero-slider.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

@media only screen and (max-width:1999px){
    .hero-right-slider .slick-prev{
        left: auto;
        right: 110px;
    }
    .slick-next{
        right: 70px;
    } 

}

@media only screen and (max-width:1599px){
    .hero-right-slider .slick-prev{
        left: auto;
        right: 110px;
    }
    .slick-next{
        right: 70px;
    } 

}

@media only screen and (max-width:1399px){
    .hero-right-slider .slick-prev{
        left: auto;
        right: 75px;
    }
    .slick-next{
        right: 35px;
    } 

}



@media only screen and (max-width:1399px){
    .sm-hero-head{
        font-size: 12px;
        line-height: 20px;
    }

    .hero-head-section h3{
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 10px;
    }

    .hero-head-section .desc{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
        width: 95%;
    }
    
    /* .hero-head-section .hero-btn{
        background: var(--secondary-col);
        color: var(--white-col);
        padding: 10px 25px;
        display: inline-block;
    } */
    
}


@media only screen and (max-width:1199px){
    .hero-head-section h3{
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:999px){
    .hero-slider {
        margin-top: 50px;
    }
    .hero-head-section{
        margin-top: 50px;
    }
    .hero-right-slider .slick-prev, .slick-next{
        display: none !important;
    }
    .hero-head-section{
        padding: 10px 20px;
    }

    #SVG{
        display: none;
    }

    .main{
        height: 60vh;
    }

    .latest--project{
        padding: 10px 40px;
    }
}
@media only screen and (max-width:767px){
    .hero-section{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -40%);
    }
    .main{
        height: 140vh;
    }
    .hero-head-section h3{
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:380px){
    .main{
        height: 170vh;
    }
}




/* about section */

.about-section{
    background-color: #101010;
    padding: 100px 10px 0;
    overflow-x: hidden;
}


@media (min-width: 1200px) {
    .about-section.container {
      max-width: calc((100% - 1140px) / 2 + 1140px) !important;
      margin-left: 0;
      padding-left: 0;
    }
    
    }
    
    @media (min-width: 1400px) {
    
    .about-section .container {
      max-width: calc((100% - 1320px) / 2 + 1320px) !important;
    }
    }
    
    
    /* @media (min-width:767px){
    .about-section .container {
      max-width: calc((100% - 1320px) / 2 + 1320px) !important;
      margin-left: 0;
      padding-left: 0;
    }
    } */

.about-desc-sec{
    display: flex;
    align-items: center;
    margin-left: -50px;
}


.about-right{
    padding: 40px 30px;
    background-color: #222121;
}

.counter-div{
    font-size: 30px;
    color: var(--white-col);
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-bottom: 0px;
}


.counter-interior {
    display: flex;

}

.counter-interior .counter{
    font-size: 24px;
    color: var(--white-col);
    padding-right: 5px;
    font-weight: 700;

}

.counter-label{
    font-size: 20px;
    line-height: 30px;
    color: var(--white-col);
    position: relative;
    padding-right: 3px;
}

.counter-label::after{
    content: '';
    display: block;
    background-image: url("../images/sm-icons/LINE-COUNTER.png");
    width: 20px;
    height: 20px;
    background-size: contain;
    position: absolute;
    right: -5px;
    bottom: 0px;
    background-repeat: no-repeat;
}


.btn-read-more{
    padding: 10px 30px;
}


.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: rgb(0, 0, 0);
  }
  
  .bn632-hover:focus {
    outline: none;

  }
  
  .bn632-hover.bn20 {
    background-image: linear-gradient( to right, #333333, #323232, #ffffffbf, #ffffffc4 );

  }

.about-img-div{
    padding: 0;
}


@media only screen and (max-width:999px){
    .about-desc-sec{
        margin-left: 0px;
    }
    .about-img-div{
        padding: 60px 20px;
    }
    .about-section{
        padding: 50px 10px 30px;
    }
    
}

@media only screen and (max-width:767px){
    .about-right{
        padding: 40px 20px;
    }
}
  /* latest project section */

  .latest-projects-section{
    padding: 100px 10px;
    background-color: #101010;
    position: relative;
    overflow-x: hidden;
  }

  .gray-box-1{
    position: absolute;
    width: 60px;
    height: 180px;
    background-color: var(--secondary-col);
    top: 0;
    left: 0;
  }

  @media (min-width: 1200px) {
    .latest-projects-section.container {
      max-width: calc((100% - 1140px) / 2 + 1140px) !important;
      margin-right: 0;
      padding-right: 0;
    }
    
    }
    
    @media (min-width: 1400px) {
    
    .latest-projects-section .container {
      max-width: calc((100% - 1320px) / 2 + 1320px) !important;
    }
    }
    
    
    @media (min-width:767px){
    .latest-projects-section .container {
      max-width: calc((100% - 1320px) / 2 + 1320px) !important;
      margin-right: 0;
      padding-right: 0;
    }
    }


.latest-projects-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
}

.latest-projects-box img{
    width: 100%;
    height: 460px;
    object-fit: cover;
}


.latest-project-dtls{
    padding: 40px 10px 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, #333333 100%);
}

.latest-project-dtls .head{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--white-col);
}

.project-location{
    color: var(--white-col);
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.project-location i{
    font-size: 18px;
    padding-right: 10px;
}


.latest-project-slider .owl-nav{
    position: absolute;
    bottom: -2px;
    left: 10px;
}

.latest-project-slider .owl-nav .owl-prev i{
    padding: 10px 15px;
    background-color: #fff;
    color: var(--primary-col);
}

.latest-project-slider .owl-nav .owl-next i{
    padding: 10px 15px;
    background-color: #CECDCD;
    color: var(--primary-col);
}

@media only screen and (max-width:999px){
    .latest-projects-section{
        padding: 60px 10px;
      }
    
}
@media only screen and (max-width:767px){
    .latest-projects-box img{
        height: 300px;
    } 
}



/* client section */


.client-section{
    padding: 100px 10px;
    position: relative;
    background-color: var(--primary-col);

}

.gray-box-2{
    position: absolute;
    width: 60px;
    height: 180px;
    background-color: var(--secondary-col);
    top: 0;
    right: 0;
}

.client-slider .item .client-logo{
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-slider .item{
    padding: 40px 10px;
}

.client-slider .item .client-logo img{
    width: 160px;
}

@media only screen and (max-width:999px){
    .client-section{
        padding: 40px 10px 10px;
    }
}



/* our service section */

.service-section{
    padding: 100px 10px;
    position: relative;
    background-color: var(--primary-col);
}


.gray-box-3{
    position: absolute;
    width: 180px;
    height: 60px;
    background-color: var(--secondary-col);
    top: 0;
    left: 0;
}

.service-cards{
    padding: 40px 30px;
    background-color: var(--secondary-col);
    margin: 10px 0;
    position: relative;
}


.service-cards .icon{
    width: 50px;
    height: auto;
}

.service-cards .head{
    font-size: 20px;
    line-height: 30px;
    color: var(--white-col);
    font-weight: 600;
    margin-top: 20px;
}

.service-cards .card-para{
    font-size: 16px;
    line-height: 24px;
    color: var(--white-col);
    margin-top: 10px;
}


/* .service-cards::after{
    content: '';
    position: absolute;
    background-image: url("../images/service-card/bg-1.png");
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    transition: all .3s ease-in-out;
}

.service-cards:hover{
    opacity: -1;
}

.service-cards:hover ::after{
    display: block;

} */


@media only screen and (max-width:999px){
    .service-head-div{
        margin-bottom: 30px;
    }
}





/* testimonial section */

.testimonial-section{
    padding: 100px 10px;
    background-image: url("../images/testimonial/bg.png");
    background-size: cover;
    background-repeat: no-repeat;

}




@media (min-width: 1200px) {
    .testimonial-section.container {
      max-width: calc((100% - 1140px) / 2 + 1140px) !important;
      margin-right: 0;
      padding-right: 0;
    }
    
    }
    
    @media (min-width: 1400px) {
    
    .testimonial-section .container {
      max-width: calc((100% - 1320px) / 2 + 1320px) !important;
    }
    }
    
    
    @media (min-width:767px){
    .testimonial-section .container {
      max-width: calc((100% - 1320px) / 2 + 1320px) !important;
      margin-right: 0;
      padding-right: 0;
    }
    }

.testimonial-slider{
    margin-top: 60px;
}

.testimonial-box{
    background: linear-gradient(180deg, #1D1B1B 0%, #302C2C 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 40px 20px;
    margin: 10px 15px;
}

.profile-sec{
    display: flex;
    align-items: center;
}

.profile-sec .details{
    margin-left: 10px;
}

.profile-sec .details .name{
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color: var(--white-col);
}

.profile-sec .details .designation{
    font-size: 16px;
    line-height: 24px;
    color: var(--white-col);
}

.profile-sec .details .starRating{
    font-size: 10px;
    color: #D1AF78;
}



.testimonial-box .review {
    margin-top: 15px;
    padding: 15px 20px;
    height: 110px;
    overflow: scroll;
    overflow-x: hidden;
    background: #363333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.testimonial-box .review p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #ffffff;
    padding-bottom: 5px;
}
.testimonial-box .review::-webkit-scrollbar {
    width: 6px;
}
.testimonial-box .review::-webkit-scrollbar-track {
    background: #5C5B58;
    border-radius: 10px;
}
.testimonial-box .review::-webkit-scrollbar-thumb {
    background: #8A8A8A;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    opacity: 1;
}


.testimonial-slider .owl-nav{
    position: absolute;
    bottom: -2px;
    left: 10px;
}

.testimonial-slider .owl-nav .owl-prev i{
    padding: 10px 15px;
    background-color: #fff;
    color: var(--primary-col);
}

.testimonial-slider .owl-nav .owl-next i{
    padding: 10px 15px;
    background-color: #CECDCD;
    color: var(--primary-col);
}


@media only screen and (max-width:767px){
    .testimonial-box{
        margin: 10px 5px;
    }
}



/* cta section */

.cta-section{
    padding: 100px 0;
    background-color: var(--primary-col);
}

.cta-section-img{
    background-image: url("../images/cta-bg-dark-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    width: 100%;
}


.cta-right-img{
    position: relative;

}

.cta-img-div{
    position: absolute;
    top: -50px;
}

.cta-head{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: var(--white-col);
}

.cta-input input{
    background-color: #353535;
    border-style: none;
    padding: 8px 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white-col);
    outline: none;
}

.cta-input a{
    background: #CECDCD;
    padding: 8px 10px;
    color: var(--primary-col);

}
.cta-input a i{
    font-size: 16px;
    padding-left: 10px;
}


@media only screen and (max-width:999px){
    .cta-section-img{
        height: auto;
        padding: 50px 0;
    }
    .cta-head{
        font-size: 28px;
        line-height: 36px;
    }
    .cta-input input{
        margin-top: 30px;
    
    }
    .cta-section{
        padding: 40px 0px 20px;
    }

}

@media only screen and (max-width:767px){
    .cta-input{
        display: flex;
        flex-direction: column;
    
    }
    .cta-input input{
        margin-bottom: 10px;
    }
    .cta-input a{
        text-align: center;
    }
}




/* gallery section */

.gallerySection{
    padding: 100px 10px;
    background-color: var(--primary-col);
}



/* ---- .grid-item ---- */
/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- .grid-item ---- */
  
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
  
  .grid-item {
    float: left;
  }
  
  .grid-item img {
    display: block;
    max-width: 100%;
  }
  


/* map section */

.map-section{
    height: 450px;
    filter: grayscale(1);
}


/* footer section */

footer{
    background-image: url("../images/herobg-2.png");
    background-size: cover;
    padding: 120px 10px 80px;
    background-position: center;
    position: relative;
}

.ftr-log{
    display: flex;
    justify-content: center;
}

.ftr-log img{
    width: 220px;
    height: auto;
}

.ftr-links{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.ftr-links a{
    color: var(--white-col);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 5px 20px;
}


.ftr-location{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.ftr-location i{
    font-size: 20px;
    color: var(--white-col);
}

.ftr-location span{
    color: var(--white-col);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-left: 10px;
}


.ftr-location a{
    color: var(--white-col);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding-left: 10px;
}

.ftr-sm-icons{
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.ftr-sm-icons a {
    color: var(--white-col);
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    padding: 5px 20px;
}

.copyright-section{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(70, 66, 66, 0.4);
    padding: 10px 0;
}

.copyright-section p{
    text-align: center;
    color: var(--white-col);
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}



@media only screen and (max-width:999px){
    .gray-box-1, .gray-box-2, .gray-box-3{
        display: none;
    }
    .copyright-section p{
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }
    .copyright-section{
        padding: 5px 0;
    }

}

@media only screen and (max-width:767px){
    .ftr-links{
        flex-direction: column;
        align-items: center;
    }
}






/* about page */

.main-inner-pages{
    background-image: url("../images/banner/banner-2.jpg");
    width: 100%;
    height: 55vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-banner{
    padding: 60px 10px;

}

.main-banner .banner-head{
    font-size: 44px;
    line-height: 56px;
    color: var(--white-col);
    font-weight: 700;
    text-align: center;
    padding-top: 30px;
}

.breadcrumb{
    display: flex;
    justify-content: center;
    align-items: center;
}


.breadcrumb .breadcrumb-item{
    font-size: 18px;
    line-height: 28px;
    color: var(--white-col);
    font-weight: 300;
}



.breadcrumb .breadcrumb-item a {
    color: var(--white-col);

}


.breadcrumb .breadcrumb-item a:hover{
    font-weight: 500;
}


.breadcrumb span{
    color: var(--white-col);
    font-size: 18px;
    line-height: 28px;
    padding: 0 7px;
}

.about-pg-section{
    padding: 100px 10px;
}

.about-pg-section .about-content h6{
    font-size: 16px;
    line-height: 24px;
}

.about-pg-section .about-content h3{
    font-size: 36px;
    line-height: 44px;

}

.about-pg-section .about-pg-right{
    padding: 60px;
}

.progress-sections{
    padding-right: 60px;
}


.progress-box{
    margin: 20px 0;
}

.progress-box .progress-head{
    font-size: 14px;
    font-weight: 600;
    color: #000;
    margin-bottom: 0;
}

.progress-box .progress{
    height: 7px;
    border-radius: 0;
}

.progress-box .progress .progress-bar{
    background-color: var(--primary-col);
}

.counter-sec{
    background-image: url("../images/banner/counter-bg.jpg");
    background-size: cover;
    padding: 100px 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.counter--div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter--div .counter-div span{
    font-size: 70px;
    font-weight: 700;
}
.counter--div .counter-div{
    font-size: 60px;
    font-weight: 800;
}

.counter--label{
    font-size: 20px;
    color: var(--white-col);
    font-weight: 600;
}


.our-team-section{
    padding: 100px 10px;
}


.client-section-white{
    background-color: var(--white-col);
}


/* contact page */

.contact-banner{
    background-image: url("../images/banner/banner-contact.jpg");
}


.contact-form-section{
    padding: 100px 10px;
}


.contact-detail-box{
    background-image: url("../images/contact-left-side.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 30px 80px;
    width: 100%;
    background-size: cover;
}

.contact-detail-box h4{
    font-size: 34px;
    font-weight: 700;
    color: var(--white-col);
    text-align: center;
}

.contact-detail-box .location-dtls{
    display: flex;
    align-items: center;
    color: var(--white-col);
}

.contact-detail-box .location-dtls i{
    font-size: 20px;
    color: var(--white-col);
    padding-right: 10px;
}

.contact-detail-box .location-dtls div{
    color: var(--white-col);
}

.location-dtls div a{
    display: block;
    color: var(--white-col);
}

.contact-form-box{
    padding: 0px 60px;
}

.contact-form-box .contact-input input{
    padding: 10px 18px;
    border: 1px solid #f1f1f1;
    margin-bottom: 30px;
    outline: 0;
    width: 100%;
}

.contact-form-box .contact-textarea textarea{
    padding: 10px 18px;
    border: 1px solid #f1f1f1;
    margin-bottom: 30px;
    outline: 0;
    width: 100%;
}


.contact-pg-btn a{
    transition: all .5s ease-in-out;
}
.contact-pg-btn a:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


@media only screen and (max-width:999px){
    .contact-form-box{
        padding: 0px
    } 
}


/* project page */

.project-banner{
    background-image: url("../images/banner/banner-projects.jpg");
}
.project-container{
    padding: 100px 10px;
}

.toggle .panels .panel {
    display: none;
}
.toggle .panels .panel:first-child {
    display: block;
}

.projects-tabs{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}


.projects-tabs .tab{
    margin: 10px;
    border-style: none;
    background-color: var(--white-col);
    position: relative;
}

.projects-tabs .tab{
    color: var(--primary-col);
}


.projects-tabs .tab.active::after{
    content: '';
    display: block;
    background-image: url("../images/banner/sm-icon.png");
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -8px;
    right: 0;
}

.nav-tabs{
    border-bottom: 0px;
}

.project-card{
    margin: 5px;
    background-color:#ededed;
    padding: 0px 5px 5px;
    margin: 5px;
    max-width: 400px;

}



.project-card img {
    display: block;
    max-width: 100%;
  }
  

.project-card .title{
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: var(--primary-col);
}


.project-card .card-body span{
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: var(--primary-col);
}



@media only screen and (max-width: 1399px){
    .project-card{
        max-width: 340px;
    }
}


@media only screen and (max-width: 999px){
    .project-card{
        max-width: auto;
    }
}


/* project inner */


.project1{
    background-image: url("../images/banner/project-inner-banner.png");
}



.interior-slider-section{
    padding: 100px 10px;
}



.interior-design-slider .owl-nav{
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(50%, -50%);
}



.interior-design-slider .owl-nav button.owl-next{
    position: absolute;
    right: -38px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary-col);
    color: var(--white-col);
}

.interior-design-slider .owl-nav button.owl-prev{
    position: absolute;
    left: -38px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary-col);
    color: var(--white-col);
}

.project-info-section{
    padding: 30px 10px 100px;
}

.project-info-main-box{
    padding: 30px 60px 10px;
    background-color: var(--secondary-col);
    display: flex;
    justify-content: space-around;
    border-radius: 20px;

}

.project-info-box{
    padding: 30px 20px 20px;
    background-color: var(--white-col);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 260px;
    margin-bottom: 20px;
}
.project-info-box .head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.project-info-box .head i{
    font-size: 22px;
}

.project-info-box .head span{
    font-size: 18px;
    font-weight: 600;
}


@media only screen and (max-width:999px){
    .interior-slider-section{
        padding: 50px 10px;
    }
    .project-info-main-box{
        flex-direction: column;
        align-items: center;
    }
    .project-info-main-box{
        padding: 30px 10px;
    }
}

.project-description-section{
    margin-top: 40px;
}

.project-description{
    padding: 40px 15px;
    background-color: #8A8A8A;
    color: var(--white-col);
    border-radius: 10px;
}

.project-description-section .head{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 40px;
}


/* offacanvas */

.desktop-canvas-btn button{
    border-style: none;
    background: none !important;
}

.desktopcanvas{
    background-color: var(--primary-col);
    border-left: 1px solid white;
    padding:20px;
    min-width: 500px;
}

#offcanvasdesktop .close{
    border-style: none;
    background: none !important;

}

#offcanvasdesktop .close i{
    font-size: 24px;
    color: var(--white-col);
}

.offcanvas-address h5{
    color: var(--white-col);
    margin-top: 40px;

}

.offcanvas-address .address-details{
    display: flex;
    margin-top: 10px;
    color: var(--white-col);
}

.offcanvas-address .address-details i{
    padding-right: 10px;
    font-size: 20px;
}


.phone-numbers{
    color: var(--white-col);
    margin-top: 40px;
}

.phone-numbers .number{
    display: flex;
    align-items: center;
}

.phone-numbers .number a{
    color: var(--white-col);
    margin-top: 5px;
}


.social-media-offcanvas{
    color: var(--white-col);
    margin-top: 40px;
}


.social-media-offcanvas .social-media-sm{
    display: flex;
    align-items: center;
}

.social-media-offcanvas .social-media-sm a{
    font-size: 20px;
    padding-right: 25px;
    margin-top: 10px;
    color: var(--white-col);

}

.social-media-offcanvas .social-media-sm a i{
    transition: all 0.5s ease-in-out;
}

.social-media-offcanvas .social-media-sm a i:hover{
    transform: scale(1.3);
}

.desktop-offcanvas-title{
    margin-top: 100px;
}
.company-para-offcanvas{
    color: var(--white-col);
}

.desktopcanvas .offcanvas-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;

}


@media only screen and (max-width:991px){
    .desktop-canvas-btn{
        display: none;
    }    
}



/* mobile offcanvas */


.mobile-offcanvas{
    background-color: var(--primary-col);
    border-right: 1px solid white;
}

.mobile-offcanvas{
    width: 320px;
}

.mobile-nav{
    padding-left: 0;
}

.mobile-nav li{
    list-style: none;


}

.mobile-nav li a{
    color: var(--white-col);
    font-weight: 300;
    padding: 0.5rem 0.5rem;
    transition: all .3s ease-in-out;
}

.mobile-nav li a.active{
    font-weight: 500;
}
.mobile.social-media-offcanvas{
    position: fixed;
    bottom: 30px;
}

.mobile-nav li a:hover{
    color: var(--white-col);
}




/* loader */


.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  


.loader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    background-color:#000;
    z-index: 99;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


/* service page */

  .service-banner{
    background-image: url("../images/banner/banner-sevices.jpg");
  }

  .service-card-section{
    padding: 100px 10px;
  }

  .sm-head-top{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
  }

  .md-head{
    font-size: 44px;
    font-weight: 700;
    text-align: center;
  }

  .head-para{
    font-size: 16px;
    text-align: center;
  }

  .pg-service-cards{
    width: 100%;
    padding: 20px 10px;
    margin: 10px;
    overflow: hidden;

  }

  .pg-service-cards img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative;
  }




  .pg-service-cards .img-div{
    position: relative;
  }

  .pg-service-cards .img-div::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #100e0e52;

  }

  .center-icon{
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%,-50%);
    z-index: 11;
    transition: all 1.3s ease-in-out;
  }


.btn-center-icon{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 11;
    transition: all 1.3s ease-in-out;
    top: -100px;
}

.pg-service-cards .img-div .btn-center-icon a{
    padding: 10px 30px;
    border-radius: 7px;
}


  .center-icon img{
    width: 80px;
    height: auto;

  }


  .inner-card{
    width: 90%;
    background-color: var(--white-col);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    margin-top: -80px;
    z-index: 11;
    padding: 35px 20px;
  }

  .inner-card h5{
    text-align: center;
  }

  .inner-card p{
    font-size: 16px;
    line-height: 26px;
    color: gray;
    margin-top: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

  .pg-service-cards:hover .center-icon{
    left: -200px;
  }

  .pg-service-cards:hover:hover .btn-center-icon{
    left: 50%;
    top: 48%;
  }



  /* sevice details section */

.service-details-section{
    padding: 100px 10px;

}




.cont-cursor{
    position: absolute;
    top: 0;
    left: 0;
  }

  #CONT-GEN{
    position: relative;
    overflow-x: hidden !important;
  }

  #SVG{
    width:100vw;
    height: 100vh;
    overflow-x: hidden;
  }